{% extends 'index.html' %}
{% block bodycontent %}

<div class="panel panel-default pages">
	<div class="panel-heading legend">EDUCATION</div>
	<div class="panel-body fixed-panel">
		<div class="page-header">
			<h3>Post Graduation <small>University of New Mexico (Aug 2011 - Dec 2013)</small></h3>
		</div>
		<p><b>Master's</b> in the field of Computer Science</p>
		<p>Albuquerque, New Mexico</p>
		<p>GPA - 3.5</p>
		<p>Useful Courses taken:</p>
		<p><span class="fa fa-angle-right"></span> Data Structures and Algorithms</p>
		<p><span class="fa fa-angle-right"></span> Computer Networks</p>
		<p><span class="fa fa-angle-right"></span> Software Management</p>
		<p><span class="fa fa-angle-right"></span> Cloud Computing using Ruby on Rails</p>
		<p><span class="fa fa-angle-right"></span> Database Management Systems</p>
		<p><span class="fa fa-angle-right"></span> Complex Adaptive Systems</p>

		<hr>

		<div class="page-header">
			<h3>Under Graduation <small>Anna University (Aug 2007 - May 2011)</small></h3>
		</div>
		<p><b>Bachelor's</b> in the field of Computer Science</p>
		<p>Chennai, Tamil Nadu, India</p>
		<p>GPA - 3.03</p>
		
		<hr>
	</div>
</div>

{% endblock %}