{% extends 'base.html' %}
{% block navcontent %}

	<div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<a href="/"><img src="/static/blog/images/pic_blog.jpg" class="img-responsive" alt=""></a>
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						Abhishek Reddy Yeruva
					</div>
					<div class="profile-usertitle-job">
						Software Developer
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a href="/">
							<i class="glyphicon glyphicon-user"></i>
							About Me </a>
						</li>
						<li>
							<a href="/education">
							<i class="fa fa-book"></i>
							Education </a>
						</li>
						<li>
							<a href="/projects">
							<i class="fa fa-code"></i>
							Projects </a>
						</li>
						<li>
							<a href="/experience">
							<i class="fa fa-laptop"></i>
							Experience </a>
						</li>
						<li>
							<a href="/finds">
							<i class="fa fa-wrench"></i>
							Interesting Finds </a>
						</li>
						<li>
							<a href="/hobbies">
							<i class="fa fa-paint-brush"></i>
							Hobbies </a>
						</li>
						<li>
							<a href="/contact">
							<i class="fa fa-phone"></i>
							Contact </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content">
			   	{% block bodycontent %}
				{% endblock %}
            </div>
		</div>
	</div>

{% endblock %}